@model  IEnumerable<RandevouMVC.ViewModels.UsersFinder.UsersFinderResultViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Płeć</th>
            <th scope="col">Wiek</th>
            <th scope="col">Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td width="60" height="60">
                @{ if (!string.IsNullOrWhiteSpace(user.ImageStr))
                    {
                <img src="@user.ImageStr" style="height: 100%; width: 100%; object-fit: scale-down;" />
                    }
                }
            </td>
            <td>@user.UserBasicDto.User.DisplayName</td>
            <td>@user.UserBasicDto.User.Gender</td>
            <td>@user.UserBasicDto.User.Age</td>
            <td><a asp-controller="Users" asp-action="Details" asp-route-id="@user.UserBasicDto.User.Id" class="btn btn-outline-primary">Wyświelt</a></td>
        </tr>
        }
    </tbody>
</table>